<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.TradePlatformApiMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.tradeplatform.TradePlatformApi">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="trade_platform_id" jdbcType="INTEGER" property="tradePlatformId" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="access_key" jdbcType="VARCHAR" property="accessKey" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, trade_platform_id, sign, access_key, secret_key, nickname, `status`, 
    created_at, updated_at
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
    select
     <include refid="Base_Column_List"/>
     from trade_platform_api
  </select>
  <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from trade_platform_api
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTradePlatformId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
   from trade_platform_api
   where trade_platform_id = #{tradePlatformId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from trade_platform_api
    where user_id = #{userId}
  </select>

  <delete id="deleteByTradePlatformKey" parameterType="int">
    <!--@mbg.generated-->
    delete from trade_platform_api
    where trade_platform_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.bosenkeji.vo.tradeplatform.TradePlatformApi" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into trade_platform_api (user_id, trade_platform_id, sign, 
      access_key, secret_key, nickname, 
      `status`, created_at, updated_at
      )
    values (#{userId,jdbcType=INTEGER}, #{tradePlatformId,jdbcType=INTEGER}, #{sign,jdbcType=VARCHAR}, 
      #{accessKey,jdbcType=VARCHAR}, #{secretKey,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.bosenkeji.vo.tradeplatform.TradePlatformApi" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into trade_platform_api
    <trim prefix="(" suffix=")" suffixOverrides=",">
      user_id,
      trade_platform_id,
      <if test="sign != null">
        sign,
      </if>
      <if test="accessKey != null">
        access_key,
      </if>
      <if test="secretKey != null">
        secret_key,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      `status`,
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{userId,jdbcType=INTEGER},
      #{tradePlatformId,jdbcType=INTEGER},
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="accessKey != null">
        #{accessKey,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null">
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      #{status,jdbcType=TINYINT},
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bosenkeji.vo.tradeplatform.TradePlatformApi">
    <!--@mbg.generated-->
    update trade_platform_api
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tradePlatformId != null">
        trade_platform_id = #{tradePlatformId,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="accessKey != null">
        access_key = #{accessKey,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null">
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bosenkeji.vo.tradeplatform.TradePlatformApi">
    <!--@mbg.generated-->
    update trade_platform_api
    set user_id = #{userId,jdbcType=INTEGER},
      trade_platform_id = #{tradePlatformId,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR},
      access_key = #{accessKey,jdbcType=VARCHAR},
      secret_key = #{secretKey,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>