<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.TradePlatformApiBindProductComboMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.tradeplateform.TradePlatformApiBindProductCombo">
    <id column="pab_id" jdbcType="INTEGER" property="id" />
    <result column="pab_user_id" jdbcType="INTEGER" property="userId" />
    <result column="pab_trade_platform_api_id" jdbcType="INTEGER" property="tradePlatformApiId" />
    <result column="pab_user_product_combo_id" jdbcType="INTEGER" property="userProductComboId" />
    <result column="pab_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="pab_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <!--<association property="tradePlatformApi" fetchType="lazy" column="trade_platform_api_id"
                 javaType="cn.bosenkeji.vo.tradeplateform.TradePlatformApiBindProductCombo"
                 select="cn.bosenkeji.mapper.TradePlatformApiMapper.selectByPrimaryKey" />-->
    <association javaType="cn.bosenkeji.vo.tradplateform.TradePlatformApi" property="tradePlatformApi">
      <id column="pa_id" property="id"/>
      <result column="pa_tradePlatformId" property="tradePlatformId"/>
      <result column="pa_user_id" property="userId"/>
      <result column="pa_nickname" property="nickname"/>
      <result column="pa_access_key" property="accessKey"/>
      <result column="pa_secret_key" property="secretKey"/>
      <result column="pa_sign" property="sign"/>
      <result column="pa_status" property="status"/>
      <result column="pa_createAt" property="createdAt"/>
      <result column="pa_updateAt" property="updatedAt"/>
      <association property="tradePlatform" javaType="cn.bosenkeji.vo.tradplateform.TradePlatform">
        <id column="p_id" property="id" />
        <result column="p_name" property="name" />
        <result column="p_logo" property="logo" />
        <result column="p_status" property="status" />
        <result column="p_created_at" property="createdAt" />
        <result column="p_updated_at" property="updatedAt" />
      </association>
    </association>

  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, trade_platform_api_id, user_product_combo_id, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_platform_api_bind_product_combo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_platform_api_bind_product_combo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.bosenkeji.vo.tradeplateform.TradePlatformApiBindProductCombo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trade_platform_api_bind_product_combo (user_id, trade_platform_api_id, user_product_combo_id, 
      created_at, updated_at)
    values (#{userId,jdbcType=INTEGER}, #{tradePlatformApiId,jdbcType=INTEGER}, #{userProductComboId,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.bosenkeji.vo.tradeplateform.TradePlatformApiBindProductCombo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trade_platform_api_bind_product_combo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="tradePlatformApiId != null">
        trade_platform_api_id,
      </if>
      <if test="userProductComboId != null">
        user_product_combo_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tradePlatformApiId != null">
        #{tradePlatformApiId,jdbcType=INTEGER},
      </if>
      <if test="userProductComboId != null">
        #{userProductComboId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bosenkeji.vo.tradeplateform.TradePlatformApiBindProductCombo">
    update trade_platform_api_bind_product_combo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tradePlatformApiId != null">
        trade_platform_api_id = #{tradePlatformApiId,jdbcType=INTEGER},
      </if>
      <if test="userProductComboId != null">
        user_product_combo_id = #{userProductComboId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bosenkeji.vo.tradeplateform.TradePlatformApiBindProductCombo">
    update trade_platform_api_bind_product_combo
    set user_id = #{userId,jdbcType=INTEGER},
      trade_platform_api_id = #{tradePlatformApiId,jdbcType=INTEGER},
      user_product_combo_id = #{userProductComboId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from trade_platform_api_bind_product_combo
    where
    user_id=#{userId}
  </select>
</mapper>