<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.CoinSortMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.coin.CoinSort">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trade_platform_id" jdbcType="INTEGER" property="tradePlatformId" />
    <result column="coin_id" jdbcType="INTEGER" property="coinId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />

    <association property="coin" javaType="cn.bosenkeji.vo.coin.Coin">
      <id column="cId" property="id"/>
      <result column="cName" property="name"/>
      <result column="cStatus" property="status"/>
      <result column="cUpdatedAt" property="updatedAt"/>
      <result column="cCreatedAt" property="createdAt"/>
    </association>

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, trade_platform_id, coin_id, `type`, sort_num, `status`, created_at, updated_at
  </sql>
  <select id="checkByTradePlatformIdAndCoinId" parameterType="int">
    select  exists (select 1 form coin_sort where coin_sort.trade_platform_id=#{param1} and coin_sort.coin_id=#{param2} limit 1 )
  </select>

  <select id="findAllByTradePlatformId" parameterType="int" resultMap="BaseResultMap">
    select
    cs.id,
    cs.trade_platform_id,
    cs.coin_id,
    cs.type,
    cs.sort_num,
    cs.status,
    cs.created_at,
    cs.updated_at,
    c.id 'cId',
    c.name 'cName',
    c.status 'cStatus',
    c.created_at 'cUpdatedAt',
    c.updated_at 'cCreatedAt'
   from coin_sort cs left join coin c on cs.coin_id=c.id
   where trade_platform_id =#{tradePlatformId,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from coin_sort
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from coin_sort
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByTradePlatformIdAndCoinId" parameterType="integer">
    delete from coin_sort
    where coin_sort.trade_platform_id=#{param1} and coin_sort.coin_id=#{param2}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from coin_sort
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.bosenkeji.vo.coin.CoinSort" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into coin_sort (trade_platform_id, coin_id, `type`, 
      sort_num, `status`, created_at, 
      updated_at)
    values (#{tradePlatformId,jdbcType=INTEGER}, #{coinId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{sortNum,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.bosenkeji.vo.coin.CoinSort" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into coin_sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradePlatformId != null">
        trade_platform_id,
      </if>
      <if test="coinId != null">
        coin_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradePlatformId != null">
        #{tradePlatformId,jdbcType=INTEGER},
      </if>
      <if test="coinId != null">
        #{coinId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bosenkeji.vo.coin.CoinSort">
    <!--@mbg.generated-->
    update coin_sort
    <set>
      <if test="tradePlatformId != null">
        trade_platform_id = #{tradePlatformId,jdbcType=INTEGER},
      </if>
      <if test="coinId != null">
        coin_id = #{coinId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="sortNum != null">
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bosenkeji.vo.coin.CoinSort">
    <!--@mbg.generated-->
    update coin_sort
    set trade_platform_id = #{tradePlatformId,jdbcType=INTEGER},
      coin_id = #{coinId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      sort_num = #{sortNum,jdbcType=INTEGER},
      `status` = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>