<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.StrategySequenceValueMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.strategy.StrategySequenceValue">
    <constructor>
      <arg column="id" javaType="_int" jdbcType="INTEGER" />
      <arg column="strategy_sequence_id" javaType="_int" jdbcType="INTEGER" />
      <arg column="value" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sort_num" javaType="_int" jdbcType="INTEGER" />
      <arg column="status" javaType="_int" jdbcType="TINYINT" />
      <arg column="created_at" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
    id, strategy_sequence_id, value, sort_num, status, created_at, updated_at
  </sql>

  <insert id="insert" parameterType="cn.bosenkeji.vo.strategy.StrategySequenceValue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_sequence_value (strategy_sequence_id, value, sort_num, 
      status, created_at, updated_at
      )
    values (#{strategySequenceId,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{sortNum,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bosenkeji.vo.strategy.StrategySequenceValue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_sequence_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="strategySequenceId != null">
        strategy_sequence_id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="strategySequenceId != null">
        #{strategySequenceId,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <select id="findSequenceValueBySequenceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from strategy_sequence_value
    where strategy_sequence_id = #{sequenceId}
  </select>

  <select id="getSequenceValueByStrategyId" parameterType="java.lang.Integer" resultType="string">
    select value from strategy_sequence_value
    where strategy_sequence_id = (select strategy_sequence_id from strategy_attribute where strategy_id = #{strategyId})
  </select>
</mapper>