<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.StrategyAttributeMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.strategy.StrategyAttribute">
    <constructor>
      <arg column="id" javaType="_int" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="strategy_id" javaType="_int" jdbcType="INTEGER" />
      <arg column="is_default" javaType="_int" jdbcType="TINYINT" />
      <arg column="is_tip" javaType="_int" jdbcType="TINYINT" />
      <arg column="lever" javaType="_int" jdbcType="INTEGER" />
      <arg column="strategy_sequence_id" javaType="_int" jdbcType="INTEGER" />
      <arg column="rate" javaType="_int" jdbcType="INTEGER" />
      <arg column="stop_profit_ratio" javaType="_double" jdbcType="FLOAT" />
      <arg column="is_stop_profit_trace" javaType="_int" jdbcType="TINYINT" />
      <arg column="stop_profit_trace_trigger_rate" javaType="_double" jdbcType="FLOAT" />
      <arg column="stop_profit_trace_drop_rate" javaType="_double" jdbcType="FLOAT" />
      <arg column="is_stop_profit_money" javaType="_int" jdbcType="TINYINT" />
      <arg column="is_stop_profit_grid" javaType="_int" jdbcType="TINYINT" />
      <arg column="build_reference" javaType="_int" jdbcType="TINYINT" />
      <arg column="status" javaType="_int" jdbcType="TINYINT" />
      <arg column="created_at" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
      id,name, strategy_id, is_default,
      is_tip, lever, strategy_sequence_id,
      rate, stop_profit_ratio, is_stop_profit_trace,
      stop_profit_trace_trigger_rate, stop_profit_trace_drop_rate,
      is_stop_profit_money, is_stop_profit_grid, build_reference,
      status, created_at, updated_at
  </sql>

  <insert id="insert" parameterType="cn.bosenkeji.vo.strategy.StrategyAttribute">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_attribute (name, strategy_id, is_default, 
      is_tip, lever, strategy_sequence_id, 
      rate, stop_profit_ratio, is_stop_profit_trace, 
      stop_profit_trace_trigger_rate, stop_profit_trace_drop_rate, 
      is_stop_profit_money, is_stop_profit_grid, build_reference, 
      status, created_at, updated_at
      )
    values (#{name,jdbcType=VARCHAR}, #{strategyId,jdbcType=INTEGER}, #{isDefault,jdbcType=TINYINT}, 
      #{isTip,jdbcType=TINYINT}, #{lever,jdbcType=INTEGER}, #{strategySequenceId,jdbcType=INTEGER}, 
      #{rate,jdbcType=INTEGER}, #{stopProfitRatio,jdbcType=TINYINT}, #{isStopProfitTrace,jdbcType=TINYINT}, 
      #{stopProfitTraceTriggerRate,jdbcType=TINYINT}, #{stopProfitTraceDropRate,jdbcType=TINYINT}, 
      #{isStopProfitMoney,jdbcType=TINYINT}, #{isStopProfitGrid,jdbcType=TINYINT}, #{buildReference,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bosenkeji.vo.strategy.StrategyAttribute">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="strategyId != null">
        strategy_id,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="isTip != null">
        is_tip,
      </if>
      <if test="lever != null">
        lever,
      </if>
      <if test="strategySequenceId != null">
        strategy_sequence_id,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="stopProfitRatio != null">
        stop_profit_ratio,
      </if>
      <if test="isStopProfitTrace != null">
        is_stop_profit_trace,
      </if>
      <if test="stopProfitTraceTriggerRate != null">
        stop_profit_trace_trigger_rate,
      </if>
      <if test="stopProfitTraceDropRate != null">
        stop_profit_trace_drop_rate,
      </if>
      <if test="isStopProfitMoney != null">
        is_stop_profit_money,
      </if>
      <if test="isStopProfitGrid != null">
        is_stop_profit_grid,
      </if>
      <if test="buildReference != null">
        build_reference,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="strategyId != null">
        #{strategyId,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="isTip != null">
        #{isTip,jdbcType=TINYINT},
      </if>
      <if test="lever != null">
        #{lever,jdbcType=INTEGER},
      </if>
      <if test="strategySequenceId != null">
        #{strategySequenceId,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=INTEGER},
      </if>
      <if test="stopProfitRatio != null">
        #{stopProfitRatio,jdbcType=TINYINT},
      </if>
      <if test="isStopProfitTrace != null">
        #{isStopProfitTrace,jdbcType=TINYINT},
      </if>
      <if test="stopProfitTraceTriggerRate != null">
        #{stopProfitTraceTriggerRate,jdbcType=TINYINT},
      </if>
      <if test="stopProfitTraceDropRate != null">
        #{stopProfitTraceDropRate,jdbcType=TINYINT},
      </if>
      <if test="isStopProfitMoney != null">
        #{isStopProfitMoney,jdbcType=TINYINT},
      </if>
      <if test="isStopProfitGrid != null">
        #{isStopProfitGrid,jdbcType=TINYINT},
      </if>
      <if test="buildReference != null">
        #{buildReference,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="findStrategyAttributeByStrategyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from strategy_attribute
    where strategy_id = #{strategyId}
  </select>

  <select id="checkStrategyAttributeBySequenceId" resultType="java.lang.Integer">
    select EXISTS(select 1 from strategy_attribute where strategy_sequence_id = #{sequenceId})
  </select>

  <select id="checkStrategyAttributeByIdOrNameOrStrategyId" resultType="java.lang.Integer">
    select EXISTS(select 1 from strategy_attribute
      <where>
        <if test="id != null">
          or id = #{id}
        </if>
        <if test="name != null">
          or name = #{name}
        </if>
        <if test="strategyId != null">
          or strategy_id = #{strategyId}
        </if>
      </where>)
  </select>
</mapper>