<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bosenkeji.mapper.RolePermissionGroupMapper" >
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.permission.RolePermissionGroup" >
    <constructor >
      <arg column="id" jdbcType="INTEGER" javaType="_int" />
      <arg column="role_id" jdbcType="INTEGER" javaType="_int" />
      <arg column="permission_group_id" jdbcType="INTEGER" javaType="_int" />
      <arg column="status" jdbcType="TINYINT" javaType="_int" />
      <arg column="created_at" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
      <arg column="updated_at" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">id, role_id, permission_group_id, status, created_at, updated_at</sql>

  <insert id="insert" parameterType="cn.bosenkeji.vo.permission.RolePermissionGroup" >
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role_permission_group (role_id, permission_group_id, status, 
      created_at, updated_at)
    values (#{roleId,jdbcType=INTEGER}, #{permissionGroupId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.bosenkeji.vo.permission.RolePermissionGroup" >
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role_permission_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="permissionGroupId != null" >
        permission_group_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permissionGroupId != null" >
        #{permissionGroupId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateBySelective" parameterType="cn.bosenkeji.vo.permission.RolePermissionGroup" >
    update role_permission_group
    <set >
      <if test="rolePermissionGroup.id != null" >
        id = #{rolePermissionGroup.id,jdbcType=INTEGER},
      </if>
      <if test="rolePermissionGroup.roleId != null" >
        role_id = #{rolePermissionGroup.roleId,jdbcType=INTEGER},
      </if>
      <if test="rolePermissionGroup.permissionGroupId != null" >
        permission_group_id = #{rolePermissionGroup.permissionGroupId,jdbcType=INTEGER},
      </if>
      <if test="rolePermissionGroup.status != null" >
        status = #{rolePermissionGroup.status,jdbcType=TINYINT},
      </if>
      <if test="rolePermissionGroup.updatedAt != null" >
        updated_at = #{rolePermissionGroup.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="update" parameterType="cn.bosenkeji.vo.permission.RolePermissionGroup" >
    update role_permission_group
    set id = #{rolePermissionGroup.id,jdbcType=INTEGER},
      role_id = #{rolePermissionGroup.roleId,jdbcType=INTEGER},
      permission_group_id = #{rolePermissionGroup.permissionGroupId,jdbcType=INTEGER},
      status = #{rolePermissionGroup.status,jdbcType=TINYINT},
      updated_at = #{rolePermissionGroup.updatedAt,jdbcType=TIMESTAMP}
    where id = #{id}
  </update>

  <select id="getRolePermissionGroupById" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role_permission_group
    where id = #{id}
  </select>

  <select id="listRolePermissionGroup" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role_permission_group
  </select>

  <select id="listRolePermissionGroupByRoleIds" parameterType="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role_permission_group where role_id in
    <foreach collection="roleIds" separator="," open="(" close=")" index="index" item="item" >
      #{item}
    </foreach>
  </select>
</mapper>