<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bosenkeji.mapper.CdKeyMapper" >
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.cdKey.CdKey" >

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="product_combo_id" jdbcType="INTEGER" property="productComboId" />

    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_product_combo_id" jdbcType="INTEGER" property="userProductComboId" />

  </resultMap>

  <resultMap id="WithOtherResultMap" type="cn.bosenkeji.vo.cdKey.CdKey" >

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="product_combo_id" jdbcType="INTEGER" property="productComboId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_product_combo_id" jdbcType="INTEGER" property="userProductComboId" />
    <association property="userProductCombo" column="user_product_combo_id" javaType="cn.bosenkeji.vo.combo.UserProductCombo"
                 select="cn.bosenkeji.mapper.UserProductComboMapper.selectByPrimaryKey" />
    <!--<association property="productCombo" column="product_combo_id" javaType="cn.bosenkeji.vo.combo.ProductCombo"
                 select="cn.bosenkeji.mapper.ProductComboMapper.selectByPrimaryKey" />-->

  </resultMap>

  <sql id="Base_Column_List">id,`key`,product_combo_id,remark,status,created_at,updated_at, user_id, user_product_combo_id</sql>
  <insert id="insert" parameterType="cn.bosenkeji.vo.cdKey.CdKey" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cd_key (key, product_combo_id, remark, 
      status, created_at, updated_at
      )
    values (#{key,jdbcType=VARCHAR}, #{productComboId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bosenkeji.vo.cdKey.CdKey" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cd_key
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="key != null" >
        key,
      </if>
      <if test="productComboId != null" >
        product_combo_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="productComboId != null" >
        #{productComboId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <insert id="insertCdKeyByBatch" parameterType="list" keyProperty="id" useGeneratedKeys="true">
    insert into cd_key(`key`, product_combo_id, remark, status, created_at, updated_at) values
    <foreach collection="list" item="item" separator=",">
      (#{item.key},#{item.productComboId},#{item.remark},#{item.status},#{item.createdAt},#{item.updatedAt})
    </foreach>
  </insert>

  <update id="updateUserIdAndStatusById">
    update cd_key set user_id = #{userId}, status = #{status}, user_product_combo_id = #{userProductComboId} where id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="list">
    delete from cd_key where id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <select id="getByIds" parameterType="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cd_key where id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="getById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cd_key
    where id = #{id}
  </select>

  <select id="get" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cd_key
  </select>

  <select id="getBySearch" parameterType="cn.bosenkeji.vo.cdKey.CdKey" resultMap="WithOtherResultMap">
    select <include refid="Base_Column_List" /> from cd_key
    <where>
      <if test="key != null">
        and `key` = #{key}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="userProductComboId != null ">
        and user_product_combo_id = #{userProductComboId}
      </if>
    </where>
  </select>

  <select id="getByKeyAndStatus" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from cd_key where `key` = #{key} and status = #{status}
  </select>

</mapper>