<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.UserProductComboDayByAdminMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.UserProductComboDayByAdmin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="user_product_combo_day_id" jdbcType="INTEGER" property="userProductComboDayId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>

  <resultMap id="ComboDayAdminResultMap" type="cn.bosenkeji.vo.UserProductComboDayByAdmin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="user_product_combo_day_id" jdbcType="INTEGER" property="userProductComboDayId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />

    <association property="userProductComboDay" javaType="cn.bosenkeji.vo.UserProductComboDay">
      <id column="did" property="id" />
      <result column="number" property="number" />
      <result column="user_product_combo_id" property="userProductComboId" />
    </association>
    <!--<association property="userProductComboDayByAdmin" javaType="cn.bosenkeji.vo.userProductComboDayByAdmin">
      <id column="upcdbaid" property="id" />
      <result column="admin_id" property="adminId"/>
    </association>-->

  </resultMap>

  <sql id="Base_Column_List">
    id, admin_id, user_product_combo_day_id, status, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_product_combo_day_by_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_product_combo_day_by_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.bosenkeji.vo.UserProductComboDayByAdmin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_product_combo_day_by_admin (admin_id, user_product_combo_day_id, status, 
      created_at, updated_at)
    values (#{adminId,jdbcType=INTEGER}, #{userProductComboDayId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.bosenkeji.vo.UserProductComboDayByAdmin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_product_combo_day_by_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="userProductComboDayId != null">
        user_product_combo_day_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="userProductComboDayId != null">
        #{userProductComboDayId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bosenkeji.vo.UserProductComboDayByAdmin">
    update user_product_combo_day_by_admin
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="userProductComboDayId != null">
        user_product_combo_day_id = #{userProductComboDayId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bosenkeji.vo.UserProductComboDayByAdmin">
    update user_product_combo_day_by_admin
    set admin_id = #{adminId,jdbcType=INTEGER},
      user_product_combo_day_id = #{userProductComboDayId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_product_combo_day_by_admin
  </select>

  <select id="selectUserProductComboDayByUserProductComboId" resultMap="ComboDayAdminResultMap" parameterType="java.lang.Integer">
    select
    dba.id,dba.admin_id,dba.status,dba.created_at,dba.updated_at,
    d.id,d.number,d.user_product_combo_id
    from user_product_combo_day_by_admin dba
    left join user_product_combo_day d
    on dba.user_product_combo_day_id=d.id
    where d.user_product_combo_id=#{userProductComboId}
  </select>
</mapper>