<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.UserProductComboMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.combo.UserProductCombo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="product_combo_id" jdbcType="INTEGER" property="productComboId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <association fetchType="lazy" property="productCombo" column="product_combo_id" javaType="cn.bosenkeji.vo.combo.ProductCombo" select="cn.bosenkeji.mapper.ProductComboMapper.selectByPrimaryKey" />
  </resultMap>

  <resultMap id="ProductComboResultMap" type="cn.bosenkeji.vo.combo.UserProductCombo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="product_combo_id" jdbcType="INTEGER" property="productComboId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />

    <association property="user" javaType="cn.bosenkeji.vo.User">
      <id column="uid" property="id" />
      <result column="uusername" property="username" />
      <result column="utel" property="tel" />
      <result column="ustatus" property="status" />
      <result column="ucreated_at" property="createdAt" />
      <result column="uupdated_at" property="updatedAt" />
    </association>
    <association property="productCombo" javaType="cn.bosenkeji.vo.combo.ProductCombo">
      <id column="pcid" property="id" />
      <result column="product_id" jdbcType="INTEGER" property="productId" />
      <result column="pcname" jdbcType="VARCHAR" property="name" />
      <result column="pctime" jdbcType="REAL" property="time" />
      <result column="pcprice" jdbcType="REAL" property="price" />
      <result column="pcremark" jdbcType="VARCHAR" property="remark" />
      <result column="pcstatus" jdbcType="TINYINT" property="status" />
      <result column="pccreated_at" jdbcType="TIMESTAMP" property="createdAt" />
      <result column="pcupdated_at" jdbcType="TIMESTAMP" property="updatedAt" />
      <association property="product" javaType="cn.bosenkeji.vo.product.Product">
        <id column="pid" property="id" />
        <result column="pname" property="name"/>
        <result column="pversion_name" property="versionName"/>
        <result column="plogo" jdbcType="VARCHAR" property="logo" />
        <result column="premark" jdbcType="VARCHAR" property="remark" />
        <result column="pstatus" jdbcType="TINYINT" property="status" />
        <result column="pcreated_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="pupdated_at" jdbcType="TIMESTAMP" property="updatedAt" />
      </association>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, order_number, product_combo_id, remark, status, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_product_combo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_product_combo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.bosenkeji.vo.combo.UserProductCombo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_product_combo (user_id, order_number, product_combo_id, 
      remark, status, created_at, 
      updated_at)
    values (#{userId,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{productComboId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.bosenkeji.vo.combo.UserProductCombo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_product_combo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="productComboId != null">
        product_combo_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="productComboId != null">
        #{productComboId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bosenkeji.vo.combo.UserProductCombo">
    update user_product_combo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="productComboId != null">
        product_combo_id = #{productComboId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bosenkeji.vo.combo.UserProductCombo">
    update user_product_combo
    set user_id = #{userId,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      product_combo_id = #{productComboId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_product_combo

  </select>

  <select id="selectPrimaryKeyByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select id
    from user_product_combo
    where user_id = #{userId,jdbcType=INTEGER}

  </select>

  <!--通过电话号码 产品套餐时长联合查询-->
  <select id="selectUserProductComboByUserTel" resultMap="ProductComboResultMap" parameterType="java.lang.String">

    select u.id uid,u.tel,
    upc.id,upc.status,upc.created_at,upc.updated_at,upc.order_number,upc.remark,upc.status,
    pc.id pcid,pc.product_id,pc.name pcname,pc.time pctime,pc.price pcprice,
    pc.remark pcremark,pc.status pcstatus,pc.created_at pccreated_at,pc.updated_at pcupdated_at,
    p.id pid,p.name pname,p.version_name pversion_name,p.logo plogo,
    p.remark premark,p.status pstatus,p.created_at pcreated_at,p.updated_at pupdated_at,
    u.id uid,u.username uusername,u.tel utel,u.status ustatus,u.created_at ucreated_at,u.updated_at uupdated_at
    from `user` u LEFT JOIN user_product_combo upc
    on u.id=upc.user_id
    LEFT JOIN product_combo pc
    on upc.product_combo_id=pc.id
    LEFT JOIN product p
    on pc.product_id=p.id
    where u.tel=#{userTel}
  </select>

  <!--通过联表查询用户的 -->
  <select id="checkExistByProductIdAndUserId" parameterType="Integer" resultType="Integer">
    SELECT count(upc.id) from user_product_combo upc LEFT JOIN
    product_combo pc
    on upc.product_combo_id=pc.id
     LEFT JOIN product p
    on pc.product_id=p.id
    WHERE
    p.id=#{param1}
    and user_id=#{param2}
  </select>
</mapper>