<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bosenkeji.mapper.CoinPairDealMapper">
  <resultMap id="BaseResultMap" type="cn.bosenkeji.vo.CoinPairDeal">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="coin_partner_choic_id" jdbcType="INTEGER" property="coinPartnerChoicId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, coin_partner_choic_id, `type`, quantity, `status`, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from coin_pair_deal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="int">
    <!--@mbg.generated-->
    delete from coin_pair_deal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.bosenkeji.vo.CoinPairDeal" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into coin_pair_deal (user_id, coin_partner_choic_id, `type`, 
      quantity, `status`, created_at, 
      updated_at)
    values (#{userId,jdbcType=INTEGER}, #{coinPartnerChoicId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{quantity,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.bosenkeji.vo.CoinPairDeal" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into coin_pair_deal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      user_id,
      coin_partner_choic_id,
      `type`,
      quantity,
      `status`,
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{userId,jdbcType=INTEGER},
      #{coinPartnerChoicId,jdbcType=INTEGER},
      #{type,jdbcType=TINYINT},
      #{quantity,jdbcType=INTEGER},
      #{status,jdbcType=TINYINT},
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bosenkeji.vo.CoinPairDeal">
    <!--@mbg.generated-->
    update coin_pair_deal
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="coinPartnerChoicId != null">
        coin_partner_choic_id = #{coinPartnerChoicId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bosenkeji.vo.CoinPairDeal">
    <!--@mbg.generated-->
    update coin_pair_deal
    set user_id = #{userId,jdbcType=INTEGER},
      coin_partner_choic_id = #{coinPartnerChoicId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=TINYINT},
      quantity = #{quantity,jdbcType=INTEGER},
      `status` = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="findCoinPairDealByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from coin_pair_deal
    where user_id = #{userId}
  </select>

  <select id="findCoinPairDealByUserIdAndChoicId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from coin_pair_deal
    where user_id = #{userId} and coin_partner_choic_id = #{choicId}
  </select>


  <select id="findCoinPairDealByUserIdAndStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from coin_pair_deal
    where userId = #{userId} and status = #{status}
  </select>
  <select id="countCoinPair" resultType="int">
    select count(coin_partner_choic_id)
    from
      (select DISTINCT coin_partner_choic_id
          from coin_pair_deal where user_id = #{userId}) t;
  </select>

  <select id="countCoinPairDeal" resultType="int">
    select count(0)
    from coin_pair_deal
    where user_id = #{userId} and coin_partner_choic_id = #{choicId}
  </select>




</mapper>